<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:insert="fragments/navbar :: navbar"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Polling - add question</h1>
            </div>
<!--            <div class="questionTable" th:unless="${#lists.isEmpty(questionList)}">-->
                <form action="#" th:action="@{/polling/add_question}" th:object="${polling}" method="post">
                    <div th:object="${question}">
                        <div th:object="${answerForm}">
                            <h3 class="h2 mb-3 font-weight-normal">Question:</h3>
                            <label class="w-100" th:text="${question.text}"></label>
                            <input class="form-control" th:field="${question.text}">
                            <input type="hidden" class="form-control" th:field="${question.polling}">
                            <input type="hidden" class="form-control" th:field="${question.id}">
                            <h5 class="h2 mb-3 font-weight-normal">Answer:</h5>
                            <div th:each="AnswerFormItem, itemStat : *{answers}">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <input type="hidden" class="form-control" th:field="*{answers[__${itemStat.index}__].id}">
                                        <input class="form-control" th:field="*{answers[__${itemStat.index}__].text}">
                                    </div>
                                </div>
                            </div>
                            <input class="btn btn-lg mt-2" type="submit" id="submitButton" th:value="Save">
                            <input class="btn btn-lg mt-2 delete" type="submit" id="deleteButton" th:value="Delete">
                        </div>
                    </div>
                </form>
<!--            </div>-->
        </main>
    </div>
</div>
</body>
</html>