<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
<!--    <link rel="stylesheet" href="/css/navbar.css"/>-->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div th:insert="fragments/navbar :: navbar"></div>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <h3>Section title</h3>
                <div th:unless="${#lists.isEmpty(usersList)}">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Login</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>E-mail</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${usersList}">
                            <td th:text="${user.id}"> </td>
                            <td th:text="${user.login}">  </td>
                            <td th:text="${user.firstName}">  </td>
                            <td th:text="${user.lastName}">  </td>
                            <td th:text="${user.email}">  </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>


</body>
</html>