html, body {
    height: 100%;
    font-family: Calibri Bold;
}
.mainContainer {
    margin-left: 100px;
    margin-right: 100px;
}
.container {
    height: 100%;
}

.btn {
    background-color: #333333;
    color: #ffffff;
}

.btn:hover {
    color: #f4461e;
}

.form-control:focus {
    border-color: #f4461e;
    box-shadow: 0 0 0 0.2rem rgba(244, 70, 30, 0.25);
}

a {
    color: #f4461e;
}

a:visited {
    color: #f4461e;
}

a:hover {
    color: #333333;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}