html, body {
    height: 100%;
    font-family: Calibri Bold;
}
.mainContainer {
    margin-left: 500px;
    margin-right: 500px;
}
.container {
    height: 100%;
}

.form-control:focus {
    border-color: #f4461e;
    box-shadow: 0 0 0 0.2rem rgba(244, 70, 30, 0.25);
}

a {
    color: #f4461e;
}

a:visited {
    color: #f4461e;
}

a:hover {
    color: #333333;
}