<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:insert="fragments/navbar :: navbar"></div>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div th:unless="${#lists.isEmpty(pollingList)}">
                <p><h3 th:text="${welcome}"></h3>
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="polling : ${pollingList}">
                        <td th:text="${polling.id}"> </td>
                        <td th:text="${polling.name}" > </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>












<!--</script>-->
<!--<script src="./dashboard_files/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="./dashboard_files/feather.min.js"></script>-->
<!--<script src="./dashboard_files/Chart.min.js"></script>-->
<!--<script src="./dashboard_files/dashboard.js"></script>-->

</body>
</html>