<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div th:insert="fragments/navbar :: navbar"></div>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <h3>Section title</h3>
                <div class="table-responsive" th:unless="${#lists.isEmpty(pollingList)}">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Owner</th>
                            <th>First name</th>
                            <th>Polling name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="polling : ${pollingList}">
                            <td ><a class="text-muted" th:text="${polling.id}" th:href="@{'/polling/stats/'+ ${polling.id}}"></a> </td>
                            <td th:text="${polling.owner}">  </td>
                            <td th:each="user : ${userList}" th:if="${user.id == polling.owner}" th:text="${user.firstName}"> </td>
                            <td ><a class="text-muted" th:text="${polling.name}" th:href="@{'/polling/stats/'+ ${polling.id}}"></a> </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
</body>
</html>