<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" th:action="@{/polling/save1}" th:object="${answerForm}"
          method="post">
        <fieldset>
            <input type="submit" id="submitButton" th:value="Save">
            <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
            <table>
                <thead>
                <tr>
                    <th> Title</th>
                    <th> Author</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="AnswerFormItem, itemStat : *{answers}">
                    <td><input th:field="*{answers[__${itemStat.index}__].id}" /></td>
                    <td><input th:field="*{answers[__${itemStat.index}__].text}" /></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </form>
</body>
</html>