<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<title></title>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/main.css"/>
<link href="/css/dashboard.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:insert="fragments/navbar :: navbar"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h2>Polling : </h2>
            <div class="questionTable" th:unless="${#lists.isEmpty(questionList)}">
                <form action="#" th:action="@{/polling/save}" th:object="${answerForm}" method="post">
                    <fieldset>
                        <div th:each="question : ${questionList}">
                            <h3 class="h2 mb-3 font-weight-normal">Question:</h3>
                            <label class="w-100" th:text="${question.text}"></label>
                            <h5 class="h2 mb-3 font-weight-normal">Answer:</h5>
                            <div th:each="AnswerFormItem, itemStat : *{answers}">
                                <label th:if="${AnswerFormItem.getQuestionId() == question.id}"
                                       th:text="*{answers[__${itemStat.index}__].text}"></label>
                                <input type="hidden" th:if="${AnswerFormItem.getQuestionId() == question.id}" id="text"
                                       th:field="*{answers[__${itemStat.index}__].text}">
                                <input th:if="${AnswerFormItem.getQuestionId() == question.id}" type="radio"
                                       id="isChecked" value="1" th:field="*{answers[__${itemStat.index}__].isChecked}"/>
                                <input type="hidden" id="id" th:field="*{answers[__${itemStat.index}__].id}">
                            </div>
                        </div>
                        <input class="btn btn-lg mt-2" type="submit" id="submitButton" th:value="Save">
                        <input class="btn btn-lg mt-2 delete" type="submit" id="deleteButton" th:value="Delete">
                    </fieldset>
                </form>
            </div>
        </main>
    </div>
</div>
</div>
</body>
</html>













