<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<title></title>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/main.css"/>
<link href="/css/dashboard.css" rel="stylesheet">

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div th:insert="fragments/navbar :: navbar"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <h2>Polling : </h2>
                <form action="#" th:action="@{'/polling/'+ ${polling.id}}" th:object="${answerList}" method="get">
                    <div class="questionTable" th:unless="${#lists.isEmpty(questionList)}">
                    <fieldset>
                        <div th:each="question : ${questionList}">
                            <h3 class="h2 mb-3 font-weight-normal">Question:</h3>
                            <label class="w-100" th:text="${question.text}"></label>
                            <h5 class="h2 mb-3 font-weight-normal">Answer:</h5>
                            <table class="table table-striped table-sm">
                               <tbody>
                                <tr th:each="answer : ${answerList}">
                                    <td th:if="${answer.getQuestion() == question.id}" th:text="${answer.text}"></td>
                                    <td th:if="${answer.getQuestion() == question.id}" th:text="${answer.counter-1}">  </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <input class="btn btn-lg mt-2" id="voteButton" type="submit" th:value="Vote">
                    </fieldset>
                    </div>
                </form>
            <form th:action="@{'/polling/'+ ${polling.id} +'/add_question'}" method="get">
                <input class="btn btn-lg mt-2" id="addQuestion" type="submit" th:value="AddQuestion">
            </form>
        </main>
    </div>
</div>
</div>
</body>
</html>













